@use "../../theme";

.make-post {
  @include theme.flex-column-center;
  form {
    font-size: 1.5rem;
    min-height: 70vh;
    width: 80vw;
    position: relative;
    display: flex;
    flex-direction: column;
    @include theme.border;
    padding: 0.5rem;

    .label-input {
      width: 100%;
      margin: 1rem 0;
      position: relative;

      input, textarea {
        height: 1.5rem;
        font-size: inherit;
        font-family: inherit;
        float: right;
        background: inherit;
        border: none;
        border-bottom: 0.2rem solid theme.$main-text;
        width: 50%;
        outline: none;
        color: inherit;
        caret-color: theme.$main-text;
      }
    }

    textArea {
      height: fit-content !important;
      border: .2rem solid theme.$main-text !important;
      width: 80% !important;
      resize: none;
    }

    button {
      margin: 1rem auto;
      height: 3rem;
      width: 10rem;
      &:disabled {
        border-color: theme.$dark-text;
        color: theme.$dark-text;
      }
    }

    span {
      position: absolute;
      bottom: 0;
      font-size: 1rem;
    }
  }
}
