@use "../../theme";

.modal-back {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(15, 70, 60, 0.5);

  .modal-front {
    z-index: 1;
    height: 40vh;
    width: 60vw;
    background-color: theme.$background;
    @include theme.border;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

     p {
       z-index: 1;
      font-size: 1.5rem;
     }

    button {
      z-index: 1;
      margin: 1rem auto;
      height: 3rem;
      width: 10rem;
      &:focus {
        outline: none;
      }
    }
  }
}
