@use "../../theme";

.log-out {
  @include theme.flex-column-center;

  h1 {
    font-size: 3rem;
    margin: 1rem;
    max-width: 50vw;
  }

  form {
    @include theme.border;
    @include theme.flex-column-center;
    justify-content: space-between;
    height: 50vh;

    button {
      margin: 1rem auto;
      height: 3rem;
      width: 10rem;
    }
  }
}
