@use "../../theme";

footer {
  height: calc(5vh - 0.4rem);
  width: calc(100vw - 0.4rem);
  margin: 0.2rem;
  @include theme.border;
  display: flex;
  align-items: center;

  nav {
    width: 50vw;
    display: flex;
    justify-self: flex-start;
    justify-content: space-evenly;

    a {
      color: inherit;
      text-underline-offset: 0.2rem;
      text-decoration: underline 0.2rem;
      text-decoration-color: theme.$main-text-transparent;
      transition: text-decoration-color 200ms;
    }

    .active {
      text-decoration-color: theme.$main-text;
      transition: text-decoration-color 200ms;
    }
  }

  p {
    margin-left: auto;
    margin-right: 1rem;
    width: fit-content;
  }
}
