@use "../../theme";

.post {
  margin: 0.2rem;
  padding: 0.2rem;
  width: calc(50vw - 1rem);
  @include theme.border;
  display: flex;
  flex-direction: column;

  h2 {
    color: theme.$background;
    background-color: theme.$main-text;
    height: 3rem;
    line-height: 3rem;
    text-indent: 1rem;
  }

  
}

button {
  margin-top: 1rem;
}
