@use "../../theme";

.post {
  margin: 0.2rem;
  padding: 0.2rem;
  width: calc(50% - 0.4rem);
  height: 39vh;
  @include theme.border;
  display: flex;
  flex-direction: column;
  z-index: 0 !important;
  position: relative;

  h2 {
    color: theme.$background;
    background-color: theme.$main-text;
    height: 3rem;
    line-height: 3rem;
    text-indent: 1rem;
  }

  p {
    height: 100%;
    text-indent: 1rem;
    overflow: clip;
    text-overflow: ellipsis;
    margin: 1rem 0;
  }

  h3 {
    align-self: flex-end;
    margin-bottom: 0.2rem;
  }

  span {
    margin-top: auto;
  }

  button {
    margin: 1rem auto;
    margin-top: 0;
    width: 5rem;
  }
}
