$background: rgb(15, 70, 60);
$main-text: rgb(3, 244, 114);
$dark-text: rgb(0, 100, 40);
$main-text-transparent: rgba(3, 244, 114, 0);
$alert-text: rgb(202, 202, 59);

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin border {
  border: 0.2rem solid $main-text;
}
