@use "./theme";
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

* {
  box-sizing: border-box;
  z-index: 0;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "VT323", monospace;
  background-color: theme.$background;
  color: theme.$main-text;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.page {
  min-height: 85vh;
  margin: 0.2rem;
  max-width: calc(100vw - 0.4rem);
  overflow-x: none;
  @include theme.border;
}

p {
  white-space: pre-wrap;
}

button {
  font-family: inherit;
  font-size: inherit;
  @include theme.border;
  background-color: inherit;
  color: inherit;
  transition: color 50ms, background-color 50ms;
  &:disabled {
    cursor: not-allowed;
  }
  &:active {
    color: theme.$background;
    background-color: theme.$main-text;
    transition: color 50ms, background-color 50ms;
  }
}
